<app-header></app-header>

<div class="content">

  <!-- Course description - start -->
  <section class="course-description">
    <div class="container">

      <div class="back-navigation">
        <i class="fa fa-long-arrow-alt-left color-primary mr-2"></i>
        <p class="mr-2">Jump to where you left off:</p>
        <a href="#" class="link">Heading</a>
      </div>

      <h1 class="text-capitalize">The interview Cake course</h1>

      <p class="color-text-light mb-md-4 mb-3 pb-md-2 pb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Placeat expedita deserunt sunt, atque labore veniam minus nobis dolorum error saepe aperiam architecto sit id
        neque illo, aliquid fugiat natus, impedit culpa. Impedit unde distinctio consectetur, ipsum fugiat! Incidunt
        error repudiandae, ullam architecto, aspernatur ut debitis nam rem animi consequatur sint!
      </p>
      <p class="color-text-light mb-md-4 mb-3 pb-md-2 pb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Harum, omnis, odit? Vel saepe vero suscipit minus optio voluptatibus quos temporibus, maiores corporis commodi,
        numquam eligendi similique! Dignissimos voluptatibus minus itaque unde harum sunt, quo, veritatis alias est
        consequatur qui officiis incidunt doloribus excepturi. Eum accusantium nobis culpa molestiae sit dolorem quas
        doloribus eaque numquam libero quasi est, nulla esse odio voluptate cum, minima harum fuga.
      </p>
      <div class="d-flex">
        <p class="color-blue mr-3">Give me exercises and content in:</p>
        <input type="text" class="form-control form-control-sm bg-light-grey">
      </div>
    </div>
  </section>
  <!-- Course description - end -->

  <!-- General topic - start -->
  <section class="general-topic section-padding bg-light-grey">
    <div class="container">
      <div class="heading border-bottom">
        <p class="small">Section: 1</p>
        <div class="d-flex justify-content-between align-items-center">
          <h2>General topic</h2>
          <button type="button" class="btn btn-outline-primary btn-rounded btn-expand width-md" data-toggle="collapse" href="#generalTopic1" role="button" aria-expanded="true" aria-controls="generalTopic1">
            <i class="fa fa-long-arrow-alt-up mr-2"></i>
            <i class="fa fa-long-arrow-alt-up mr-2 fa-rotate-180"></i>
            <span class="less">Show Less</span>
            <span class="more">Show More</span>
          </button>
        </div>
      </div>
    </div>

    <div class="collapse show" id="generalTopic1">
      <div class="container">
        <div class="row mb-md-5 mb-3">
          <div class="col-md-12">
            <p class="small">Readings:</p>
          </div>

          <!-- Card - start -->
          <ng-container *ngFor="let item of items[0]">
            <div class="col-md-6 mb-md-0 mb-3" *ngIf="item.type === 'readings'">
              <app-item [itemData]="item"></app-item>
            </div>
          </ng-container>
          <!-- Card - end -->
          
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="small">Questions:</p>
          </div>

          <!-- Card - start -->
          <ng-container *ngFor="let item of items[0]">
            <div class="col-md-6 mb-md-0 mb-3" *ngIf="item.type === 'questions'">
              <app-item [itemData]="item"></app-item>
            </div>
          </ng-container>
          <!-- Card - end -->

        </div>
      </div>
    </div>

  </section>
  <!-- General topic - end -->

  <!-- General topic - start -->
  <section class="general-topic section-padding">
    <div class="container">
      <div class="heading border-bottom">
        <p class="small">Section: 1</p>
        <div class="d-flex justify-content-between align-items-center">
          <h2>General topic</h2>
          <button type="button" class="btn btn-outline-primary btn-rounded btn-expand width-md" data-toggle="collapse"
            href="#generalTopic2" role="button" aria-expanded="true" aria-controls="generalTopic2">
            <i class="fa fa-long-arrow-alt-up mr-2"></i>
            <i class="fa fa-long-arrow-alt-up mr-2 fa-rotate-180"></i>
            <span class="less">Show Less</span>
            <span class="more">Show More</span>
          </button>
        </div>
      </div>
    </div>

    <div class="collapse show" id="generalTopic2">
      <div class="container">
        <div class="row mb-md-5 mb-3">
          <div class="col-md-12">
            <p class="small">Readings:</p>
          </div>

          <!-- Card - start -->
          <ng-container *ngFor="let item of items[1]">
            <div class="col-md-6 mb-md-0 mb-3" *ngIf="item.type === 'readings'">
              <app-item [itemData]="item"></app-item>
            </div>
          </ng-container>
          <!-- Card - end -->

        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="small">Questions:</p>
          </div>

          <!-- Card - start -->
          <ng-container *ngFor="let item of items[1]">
            <div class="col-md-6 mb-md-0 mb-3" *ngIf="item.type === 'questions'">
              <app-item [itemData]="item"></app-item>
            </div>
          </ng-container>
          <!-- Card - end -->

        </div>
      </div>
    </div>

  </section>
  <!-- General topic - end -->
</div>

<app-footer></app-footer>
