@include media-breakpoint-down(lg) {
	.course-description {
		padding: 40px 0 50px;
	}
}

@include media-breakpoint-down(sm) {
	.course-description {
		padding: 30px 0;
	}
}

@include media-breakpoint-down(xs) {
	.course-description {
		padding: 20px 0;
	}
}