article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

input:focus,
button:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner,
a::-moz-focus-inner {
  border: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  word-wrap: break-word;
  @include box-sizing;
}

ul, li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

i {
  display: inline-block;
}

button {
  background: none;
  border: none;
}

textarea {
  resize: none;
}

a,
button,
input[type="submit"] {
  @include transition(.3s ease);
  cursor: pointer;
}

input, 
a, 
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: $font-primary;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.5;
}