.btn {
	padding: 0.375rem 1rem;
}

.btn-outline-primary {
	&:hover {
		color: #fff;
	}
}
.btn-rounded {
	border-radius: 25px;
}

.btn-expand {
	&[aria-expanded=false] {
		.less {
			display: none;
		}
		.fa:not(.fa-rotate-180) {
			display: none;
		}
	}
	&[aria-expanded=true] {
		.more {
			display: none;
		}	
		.fa.fa-rotate-180 {
			display: none;
		}
	}
}